fastapi
uvicorn[standard]
pydantic
pydantic[email]
databases
asyncpg      # For PostgreSQL; comment/remove if not using it
aiomysql     # For MySQL; comment/remove if not using it
aiosqlite    # For SQLite; comment/remove if not using it
sqlalchemy
pymysql       # For MySQL; comment/remove if not using it
